.header{
    height: 40vw;
    margin: 30px auto;
    background: url("/header.png") no-repeat;
    background-size: contain;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.9vw;
    max-width: 30%;
    bottom: 25%;
    left: 3vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 800;
    color: #222;
    font-size: 40px;
}

.header-contents p{
    color: #222;
    font-size: 20px;
}


.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2vw;
    background-color: white;
    font-size: 20px;
    border-radius: 50px;

}
.header-contents button:hover{
    color: tomato;
    cursor: pointer;

}









/* Mobile Resposive From Here */



@media (max-width: 1250px) {
    .header {
        height: 45vw;
    }
    .header-contents {
        max-width: 40%;
        gap: 1.5vw;
    }
    .header-contents h2 {
        font-size: 32px;
    }
    .header-contents p,
    .header-contents h3 {
        font-size: 18px;
    }
    .header-contents button {
        font-size: 18px;
        padding: 0.9vw 1.8vw;
    }
}






@media (max-width: 750px) {
    .header {
        height: 55vw;
        background-size: cover;
    }
    .header-contents {
        max-width: 60%;
        left: 5%;
        bottom: 20%;
        gap: 15px;
    }
    .header-contents h2 {
        font-size: 26px;
        text-align: center;
        margin-bottom: 30px;
    }
    .header-contents p,
    .header-contents h3 {
        font-size: 16px;
        text-align: center;
    }
    .header-contents button {
        font-size: 16px;
        padding: 10px 18px;
    }
}





@media (max-width: 480px) {
    .header {
        height: 65vw;
        background-size: cover;
        margin: 15px auto;
    }
    .header-contents {
        position: relative;
        bottom: auto;
        left: auto;
        max-width: 90%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        gap: 12px;
    }
    .header-contents h2 {
        font-size: 22px;
        margin-top: 50px;
        width: 60%;

    }
    .header-contents p{
        display: none;
    }
    .header-contents h3 {
        font-size: 14px;
        margin-top: 20px;
        width: 70%;
    }
    .header-contents button {
        font-size: 14px;
        padding: 8px 14px;
        margin-top: 10px;
    }
}






